<style type="text/css">
.btn-group-lg > .btn, .btn-lg {
    padding: 10px !important;
}
</style>
<section class="row">
    <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" ng-cloak ng-show="RC.ResponseMessage">Please Sign Up</h3>
            <h3 class="panel-title alert alert-danger" ng-cloak ng-hide="RC.ResponseMessage">{{RC.updateStatus.message}}</h3>
        </div>
        <div class="panel-body">
            <form role="form" name="registerForm" ng-submit="RC.registerUser(registerForm.$valid)">
                <fieldset>
                    <div class="form-group">
                        <input name="fname" ng-model="RC.registerData.fname" type="text" class="form-control" placeholder="First Name" required />
                        <p ng-cloak class="text-danger inner-error" ng-show="submitted && RC.registerData.email.$error.required">First name is required.</p>
                    </div>
                    <div class="form-group">
                        <input name="lname" ng-model="RC.registerData.lname" type="text" class="form-control" placeholder="Last Name" required />
                        <p ng-cloak class="text-danger inner-error" ng-show="submitted && RC.registerData.email.$error.required">Last name is required.</p>
                    </div>
                    <div class="form-group">
                        <input name="email" ng-model="RC.registerData.email" type="text" ng-pattern="/^[a-z0-9]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" placeholder="Email" required />
                        <p class="text-danger inner-error" ng-show="submitted && RC.registerData.email.$error.required">Email is required.</p>
                        <span ng-cloak ng-show="submitted && registerForm.email.$error.pattern || registerData.email.$error.pattern" class="text-danger inner-error">Email must be valid.</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" ng-model="RC.registerData.password" required />
                        <p class="text-danger inner-error" ng-show="submitted && RC.registerForm.password.$error.required">Password is required.</p>
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <div class="form-group">
                    <div class="col-xs-4">
                        <input type="submit" ng-click="submitted=true" ng-disabled="registerForm.$invalid" ng-class="{ 'disabled' : registerForm.$invalid }" class="btn btn-success btn-lg" value="Register">
                     </div><!-- /.col -->
                    <!-- <div class="col-xs-4"></div>-->
                     <div class="col-xs-4">
                        <a class="btn btn-lg btn-warning btn-block" href="/">Sign In</a>
                     </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</section>



